.about {
    padding: 30px 0 50px 0;
    &__wrapper {
        position: relative;
        border-radius: 38px;
        background: rgb(255, 255, 255);
        padding: 35px 30px;
        &-bg {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    &__title {
        color: rgb(0, 149, 219);
        font-size: 32px;
        font-weight: 600;
        line-height: 39px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    &__text {
        color: rgb(30, 30, 30);
        font-size: 22px;
        font-weight: 400;
        line-height: 27px;
        &:not(:last-of-type) {
            margin-bottom: 29px;
        }
    }
}
@media (max-width: 646px) {
    .about {
        &__wrapper {
            padding: 20px;
            border-radius: 18px;
        }
        &__title {
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
            margin-bottom: 20px;
        }
        &__text {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            &:not(:last-of-type) {
                margin-bottom: 20px;
            }
        }
    }
}