.hero {
    &_first {
        padding-bottom: 10px;
    }
    &_second {
        padding: 10px 0 50px 0;
    }
    &__wrapper {
        position: relative;
    }
    &__slide {
        padding: 0 85px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 38px;
        overflow: hidden;
        position: relative;
        min-height: 662px;
        gap: 45px;
        &-img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            display: flex;
            height: 100%;
            object-fit: cover;
        }
        &-title {
            color: #fff;
            font-family: "Arial", sans-serif;
            position: relative;
            z-index: 1;
            text-transform: uppercase;
            .big {
                font-size: 72px;
                font-weight: 700;
                line-height: 90.71%;
            }
            .very-big {
                font-size: 125px;
                font-weight: 700;
                line-height: 82.56%;
            }
            .normal-big {
                font-size: 58px;
                font-weight: 700;
                line-height: 122.56%;
            }
            .normal {
                font-size: 40px;
                font-weight: 700;
                line-height: 46px;
            }
            .normal-smallbig {
                font-size: 48px;
                font-weight: 700;
                line-height: 55px;
            }
        }
        &-button {
            position: relative;
            z-index: 1;
            width: 197px;
            height: 62px;
        }
    }
    &__buttons {
        display: flex;
        gap: 10px;
        position: absolute;
        bottom: 50px;
        right: 75px;
        z-index: 11;
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        flex-shrink: 0;
        border-radius: 100%;
        background: rgba(255, 255, 255, .4);
        padding: 0;
        border: none;
    }
    &__button.left {
        padding-right: 3px;
    }
    &__button.right {
        padding-left: 3px;
    }
    &__button.swiper-button-disabled {
        opacity: .6;
    }
    &_village {
        .hero__slide-button {
            width: 305px;
        }
        .hero__slide-title {
            margin-bottom: 120px;
        }
    }
}
@media (max-width: 1062px) {
    .hero {
        &__slide {
            padding: 20px 40px; 
            min-height: 562px;
            &-title {
                color: #fff;
                font-family: "Arial", sans-serif;
                position: relative;
                z-index: 1;
                text-transform: uppercase;
                .big {
                    font-size: 62px;
                    font-weight: 700;
                    line-height: 90.71%;
                }
                .very-big {
                    font-size: 115px;
                    font-weight: 700;
                    line-height: 82.56%;
                }
                .normal-big {
                    font-size: 48px;
                    font-weight: 700;
                    line-height: 122.56%;
                }
                .normal {
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 46px;
                }
            }
        }
    }
}
@media (max-width: 798px) {
    .hero {
        &__slide {
            padding: 20px 40px; 
            min-height: 462px;
            &-title {
                color: #fff;
                font-family: "Arial", sans-serif;
                position: relative;
                z-index: 1;
                text-transform: uppercase;
                .big {
                    font-size: 47px;
                    font-weight: 700;
                    line-height: 90.71%;
                }
                .very-big {
                    font-size: 100px;
                    font-weight: 700;
                    line-height: 82.56%;
                }
                .normal-big {
                    font-size: 33px;
                    font-weight: 700;
                    line-height: 122.56%;
                }
                .normal {
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 46px;
                }
            }
        }
    }
}
@media (max-width: 646px) {
    .hero {
        &__buttons {
            bottom: 20px;
            right: 40px;
        }
        &__slide {
            padding: 20px 40px; 
            min-height: 362px;
            border-radius: 18px;
            &-title {
                color: #fff;
                font-family: "Arial", sans-serif;
                position: relative;
                z-index: 1;
                text-transform: uppercase;
                .big {
                    font-size: 37px;
                    font-weight: 700;
                    line-height: 90.71%;
                }
                .very-big {
                    font-size: 80px;
                    font-weight: 700;
                    line-height: 82.56%;
                }
                .normal-big {
                    font-size: 28px;
                    font-weight: 700;
                    line-height: 122.56%;
                }
                .normal {
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 46px;
                }
            }
        }
    }
}
@media (max-width: 500px) {
    .hero {
        &__button {
            width: 30px;
            height: 30px;
            svg {
                width: 7px;
                height: 14px;
            }
        }
        &__slide {
            padding: 30px 20px 20px 20px; 
            min-height: 205px;
            max-height: 205px;
            &-button {
                width: 149px;
                height: 40px;
                font-size: 16px;
                margin-top: auto;
            }
            &-title {
                color: #fff;
                font-family: "Arial", sans-serif;
                position: relative;
                z-index: 1;
                text-transform: uppercase;
                .big {
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 90.71%;
                    .normal {
                        font-size: 14px;
                    }
                }
                .very-big {
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 82.56%;
                }
                .normal-big {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 122.56%;
                }
                .normal {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 18px;
                }
            }
        }
        &__buttons {
            right: 20px;
        }
    }
}