.sale-list {
    padding: 25px 0 50px 0;
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}
@media (max-width: 1062px) {
    .sale-list {
        &__grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@media (max-width: 646px) {
    .sale-list {
        &__grid {
            grid-template-columns: 1fr;
            max-width: 280px;
            width: 100%;
            margin: 0 auto;
        }
    }
}