.second-menu {
    // position: sticky;
    top: 138px;
    left: 0;
    right: 0;
    width: 100%;
    position: absolute;

    z-index: 11;
    &__wrapper {
        border-radius: 20px;
        background: rgb(255, 255, 255);
        padding: 24px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        max-width: 1028px;
        width: 100%;
        box-sizing: border-box;
        margin: 0 auto;
    }
    &__title {
        color: rgb(0, 149, 219);
        font-size: 18px;
        font-weight: 800;
        line-height: 22px;
        text-transform: uppercase;
    }
    &__list {
        display: flex;
        align-items: center;
        gap: 50px;
        &-link {
            color: rgb(30, 30, 30);
            font-size: 18px;
            font-weight: 600;
            line-height: 22px;
            text-transform: uppercase;
            transition: .3s all;
            &:hover {
                color: $primary;
            }
        }
    }
}
@media (max-width: 1114px) {
    .header_village {
        padding-bottom: 0;
        .header__wrapper {
            margin-bottom: 30px;
        }
    }
    .second-menu {
        top: 112px;
        position: static;
        &__wrapper {
            flex-direction: column;
            padding: 0 0 30px 0;
            border-radius: 0;
            align-items: flex-start;
        }
        &__list {
            flex-wrap: wrap;
        }
    }
}
@media (max-width: 642px) {
    .second-menu {
        top: 69px;
        .container {
            background: #fff;
        }
        &__wrapper {
            gap: 20px;
        }
        &__title {
            font-size: 16px;
            font-weight: 800;
            line-height: 20px;
        }
        &__list {
            column-gap: 30px;
            row-gap: 15px;
            &-link {
                font-size: 14px;
                font-weight: 600;
                line-height: 17px;
            }
        }
    }
}